body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(
    90deg,
    rgba(39, 117, 5, 0.908000700280112) 38%,
    rgba(0, 31, 255, 0.8407738095238095) 96%
  );
}

.mainCon {
  color: #fff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding-bottom: 20px;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

#logo {
  width: 40px;
  height: 40px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: linear-gradient(135deg, #ff4081, #c51162);
  color: #fff;
}

.btn:hover {
  background: linear-gradient(135deg, #c51162, #ff4081);
}

.user-profile {
  margin-right: 40px;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.instruction-container {
  flex-basis: 60%;
  padding-right: 20px;
  margin-top: 10px; /* Adjust this value as needed */
}

.content-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin-top: 50px; /* Adjust this value as needed */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadedimg {
  margin: 20px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 300px;
}
