@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  margin: 0;
}

body {
  margin: 0;
}

.title-1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.title-2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.title-3 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-left: 0.5;
  padding: 1.8rem;
}

.title-4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.subtitle-1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.4rem;
}

.subtitle-2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.content-1 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-right: 0.4rem;
  margin-top: 0.5rem;
}

.header {
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(39, 117, 5, 0.908000700280112) 38%,
    rgba(0, 31, 255, 0.8407738095238095) 96%
  );

  color: #fff;
  padding: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greenButton {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  padding: 0.8rem;
  transition: background-color 0.3s ease;
}

#tryforfree {
  display: block;
  margin-top: 1rem;
}

.greenButton:hover {
  background-color: #2c974b; /* Change color on hover */
}

.greenButton:focus {
  outline: none;
}

.greenButton:active {
  background-color: #298e46;
}

.horizontal-div-1 {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.horizontal-div-2 {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}

.vertical-div-1 {
  margin-top: 0rem;
}
.graphics {
  margin-left: 4.5rem;
  margin-right: 5rem;
  width: 25rem;
}

.card-row {
  margin-top: 3rem;
  display: flex;
  margin-left: 3.8 rem;
  margin-right: 3.8 rem;
  justify-content: space-evenly;
}

.card {
  width: 22rem;
  height: 15rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  align-items: center; /* Center vertically */
}

.card-icon {
  position: absolute; /* Position the icon absolutely */
  top: -1.6rem; /* Adjust top position to move it up */
  left: 50%; /* Center the icon horizontally */
  transform: translateX(-50%); /* Center the icon horizontally */
  z-index: 1; /* Move the icon above the card content */
  width: 3rem;
}

.card-title {
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  text-align: center;
}

.card-content {
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
}

.card-button {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  padding: 0.8rem;
  transition: background-color 0.3s ease;
  margin-bottom: 0rem;
}
