@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Common Styles */
* {
  margin: 0;
}

/* Home 1 Styles */
.home-1-body {
  margin: 0;
}

.home-title-1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 350;
}

.home-1-title-2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.home-1-title-3 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  color: rgba(63, 75, 141, 255);
  margin-left: 0.5;
  padding: 1.8rem;
  width: 5rem;
  text-align: center;
}

.home-1-subtitle-1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.4rem;
}

.home-1-subtitle-2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.home-1-content-1 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-right: 3.5rem;
  margin-top: 0.5rem;
}

.home-1-header {
  background: linear-gradient(
    90deg,
    rgba(32, 117, 98, 255) 38%,
    rgba(63, 75, 141, 255) 96%
  );
  color: #fff;
  padding: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  top: 0;
}

.home-1-button-1,
.home-1-button-2 {
  background-color: #2c974b;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
  margin-right: 3rem;
}

.home-1-button-1:hover,
.home-1-button-2:hover {
  background-color: #3f4b8d;
}

.home-1-button-1:focus,
.home-1-button-2:focus {
  outline: none;
}

.home-1-button-1:active,
.home-1-button-2:active {
  background-color: #2c974b;
}

.home-1-horizontal-div-1 {
  display: flex;
  align-items: center;
  top: 0;
  margin-top: 3rem;
}

.home-1-horizontal-div-2 {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-right: 3.5rem;
}

.home-1-horizontal-div-3 {
  display: flex;
  justify-content: center;
}

.home-1-vertical-div-1 {
  margin-top: 0rem;
  padding: 0rem;
}

.home-1-graphics-1 {
  margin-left: 4.5rem;
  margin-right: 5rem;
  width: 25rem;
}

.home-1-graphics-2 {
  margin-left: 4.5rem;
  margin-right: 3.5rem;
  width: 40rem;
}

.home-1-card-row {
  margin-top: 3rem;
  display: flex;
  margin-left: 3.8 rem;
  margin-right: 3.8 rem;
  justify-content: space-evenly;
}

.home-1-card {
  width: 22rem;
  height: 15rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  align-items: center; /* Center vertically */
}

.home-1-card-icon {
  position: absolute; /* Position the icon absolutely */
  top: -1.6rem; /* Adjust top position to move it up */
  left: 50%; /* Center the icon horizontally */
  transform: translateX(-50%); /* Center the icon horizontally */
  z-index: 1; /* Move the icon above the card content */
  width: 3rem;
}

.home-1-card-title {
  margin-top: 2rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  color: rgba(63, 75, 141, 255);
}

.home-1-card-content {
  margin-top: 1.2rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-align: center;
}

.home-1-card-button {
  background-color: #2c974b;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: background-color 0.3s ease;
}

.home-1-card-button:hover {
  background-color: #3f4b8d;
}

.home-1-card-button:focus {
  outline: none;
}

.home-1-card-button:active {
  background-color: #2c974b;
}

#one {
  margin-top: 2rem;
  margin-left: 7.5rem;
}

#two {
  margin-top: 1.89rem;
  margin-left: 7.5rem;
}

#three {
  margin-top: 1.3rem;
  margin-left: 7.5rem;
}

/* Media Queries for Responsive Design */

@media only screen and (max-width: 768px) {
  .home-1-title-2 {
    font-size: 1.8rem;
  }

  .home-1-button-1,
  .home-1-button-2 {
    font-size: 0.9rem;
  }

  .home-1-content-1 {
    margin-right: 2rem;
  }

  .home-1-horizontal-div-1 {
    flex-direction: column;
    text-align: center;
  }

  .home-1-graphics-1,
  .home-1-graphics-2 {
    margin: 2rem 0;
  }

  .home-1-card-row {
    flex-wrap: wrap;
  }

  .home-1-card {
    width: 100%;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .home-title-1 {
    font-size: 2rem;
  }

  .home-1-title-2 {
    font-size: 1.5rem;
  }

  .home-1-button-1,
  .home-1-button-2 {
    font-size: 0.8rem;
  }

  .home-1-content-1 {
    margin-right: 1rem;
  }

  .home-1-graphics-1,
  .home-1-graphics-2 {
    margin: 1rem 0;
  }

  .home-1-card {
    width: calc(50% - 1rem);
    margin: 1rem;
  }
}

/* Home 2 Styles */
.home-2-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background: linear-gradient(90deg, #207562 38%, #3f4b8d 96%);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.home-2-navbar-brand {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin-left: 3.5rem;
  color: #fff;
  margin-top: 1.5rem;
}

.home-2-button-container {
  display: flex;
}

.home-2-button-1 {
  background-color: #2c974b;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
  margin-right: 1rem;
}

.home-2-user-profile {
  margin-right: 4rem;
  margin-top: 2rem;
  cursor: pointer;
}

.home-2-user-profile img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.home-2-horizontal-div-1 {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 10rem;
}

.detection-horizontal-div-1 {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5rem;
}

.home-2-vertical-div-1 {
  flex-basis: 60%;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-2-vertical-div-1 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333; /* Dark gray text color */
}

.home-2-instruction-lines {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.home-2-instruction-lines li {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #555; /* Medium gray text color */
  margin-bottom: 1rem;
}

.home-2-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-2-uploadedimg {
  margin: 20px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 300px;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
  .home-2-vertical-div-1 {
    flex-basis: 100%;
  }
}

/* Check Detections Page */
.detection-horizontal-div-1 {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-right: 3.5rem;
}

/* Create Test Page */
.test-form {
  max-width: 500px;
  margin-top: 10rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.test-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.test-form input {
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.test-form button {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #2c974b;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.test-form button:hover {
  background-color: #207562;
}

/* Responsive styles */
@media (max-width: 768px) {
  .test-form {
    max-width: 90%;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .test-form {
    max-width: 100%;
    padding: 0.5rem;
  }

  .test-form input,
  .test-form button {
    font-size: 0.9rem;
  }
}
